@{
    Layout = null;
}
<div role="form">
    <input type="hidden" id="ID_Cuestionario" name="ID_Cuestionario" value="@ViewBag.ID_Cuestionario">
    <input type="hidden" id="isEdit" name="isEdit" value="0">
    <input type="hidden" id="isDelete" name="isDelete" value="1">
    <label>¿Esta seguro de anular el Cuestionario Seleccionado?</label>
</div>
